<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Fornecedor</title>
</head>
<body>

    <header>

        <h2>
            Aula do Bruno
        </h2>

    </header>

    <table class="table">
        <thead  class="table-dark">
        <tr>
          <th scope="col">#</th>

          <th scope="col">Nome</th>
          
          <th scope="col">E-mail</th>
          <th scope="col">Telefone</th>
          <th scope="col" colspan="2">
            <a class="a-add" href="./add"><i class="fa fa-plus"></i> Novo</a>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Richard</td>
          <td>richard_vatras@estudante.sesisenai.org.br</td>
          <td>123-213-444</td>
          <td><a class="a-edit" href="./edit/1"><i class="far fa-edit"></i></a></td>
          <td><a class="a-delete" href="./delete/1"><i class="fa fa-trash"></i></a></td>
        </tr>
        </tbody>
      </table>
    </div>
               
</body>
</html>